<section class="hero is-fullheight has-text-centered" id="visit">
    <div class="hero-body">
        <div class="container">
            <!-- Phone -->
            {% unless site.address == %}
            <a id="contact-button" href="{{site.location}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fa fa-envelope"></i>آدرس
            </a>
            <a href="{{site.location}}">{{site.address}}
            </a>
            {% endunless %}
            <!-- Email -->
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                محل روی نقشه:
            </h3>
            <!-- OSM Map -->
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=55.98212242126465%2C27.106200136169655%2C56.04718208312989%2C27.150810794067777&amp;layer=mapnik&amp;marker=27.128507689630123%2C56.014652252197266" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=27.1285&amp;mlon=56.0147#map=14/27.1285/56.0147">مشاهده روی نقشه بزرگ‌تر
                </a></small>
        </div>
    </div>
</section>
